.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(32, 95, 168);
  color: #fff;
}

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(32, 95, 168);
  padding: 10px; /* Adjust the padding as needed */
  text-align: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-items {
  display: flex;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}
