/* * {
  z-index: 1;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(32, 95, 168);
  color: #fff;
}

.fade-in {
  transition: opacity 1s ease-in-out;
}

/* .footer-content {
  /* // position: fixed; */
/* width: 100%; */
/* background-color: rgb(32, 95, 168);
  text-align: center;
  bottom: 0%;
} */

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(32, 95, 168);
  /* padding: 5px; */
  text-align: center;
}

.footer-container {
  z-index: 1; /* Adjust the value as needed */
}

*/ .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-items {
  display: flex;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}
